.css-jkvbif-MuiGrid-root {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 16px)!important;
    margin: 1px!important;
    flex-direction: row;
    margin-top: -16px;
    width: 100%;
    margin-left: -16px!important;
    padding-left: 0!important;
    padding-right: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
}